<!-- src/static/templates/page.liquid -->
<div class="container">
	<div class="flex flex-row">
		<div class="md:w-5/6 medium-up--push-one-twelfth">
			<div class="mb-5 text-center">
				<h1>{{ page.title }}</h1>
			</div>

			<div class="rte">
				{{ page.content }}
			</div>
		</div>
	</div>
</div>
