<!-- /section/password-footer.liquid -->
<div class="text-center">
	{% if section.settings.show_share_buttons %}
		<div class="mt-20">
			<p class="mb-8 text-xl font-semibold">{{ section.settings.social_message | escape }}</p>
			{% include 'social-sharing', snipet_class: "justify-center" %}
		</div>
	{% endif %}

	<div class="mt-20">
		<small>{{ powered_by_link }}</small>
	</div>
</div>

{% schema %}
{
	"name": "Footer",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_share_buttons",
			"label": "Show social sharing buttons",
			"default": true
		},
		{
			"type": "text",
			"id": "social_message",
			"label": "Social sharing buttons heading",
			"default": "Spread the word"
		}
	]
}
{% endschema %}
