@charset 'UTF-8';
/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";
@import "tiny-slider/src/tiny-slider.scss";

html,
body {
	font-family: var(--font-stack-body);
	@apply font-light;
}

p {
	@apply mb-3;
	color: inherit;
}

.text-shadow {
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.btn {
	@apply appearance-none;
	@apply select-none;
	@apply inline-flex;
	@apply w-auto;
	@apply no-underline;
	@apply text-center;
	@apply align-middle;
	@apply cursor-pointer;
	@apply border;
	@apply rounded-sm;
	@apply px-4;
	@apply py-2;
	@apply uppercase;
	@apply tracking-wide;
	@apply whitespace-normal;
	@apply text-base;

	&--link {
		background-color: transparent;
		border: 0;
		margin: 0;
		color: var(--color-text);
		text-align: left;
	}
}

.text-link {
	@apply inline;
	@apply border-0;
	@apply bg-none;
	@apply p-0;
	@apply m-0;

	&--accent {
		@apply border-b;
		@apply border-current;
		@apply pb-px;
	}
}

.skip-link:focus {
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	padding: 10px;
	opacity: 1;
	z-index: 10000;
	transition: none;
}

.placeholder-svg {
	display: block;
	fill: rgba(109,109,109,0.35);
	background-color: rgba(109,109,109,0.1);
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	border: 1px solid rgba(109,109,109,0.2);
}

.collapse {
    &:not(.show) {
        @apply hidden;
    }
}

.modal-open {
	@apply overflow-hidden;
}

.modal-backdrop {
	@apply fixed;
	@apply top-0;
	@apply left-0;
	@apply z-100;
	@apply h-screen;
	@apply w-screen;
	@apply bg-black;

	&.show {
		@apply opacity-25;
	}

	&:not(.show) {
		@apply opacity-0;
	}
}

.hero {
	&__overlay::before {
		content: '';
		@apply absolute;
		@apply top-0;
		@apply left-0;
		@apply h-full;
		@apply w-full;
		@apply opacity-50;
		@apply z-1;
		@apply bg-gray-900;
	}
}

.slideshow-wrapper {
	.slideshow__slide {
		@apply relative;
		&:after {
			content: "";
			@apply absolute;
			z-index: 0;
			background: rgba(0, 0, 0, 0.1);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&-container {
			height: 400px;
			height: var(--slide-height);
		}
	}
	.tns {
		&-outer {
			@apply relative;
			z-index: 2;
		}

		&-controls {
			[data-controls] {
				@apply absolute;
				top: 50%;
				z-index: 1;
				transform: translateY(-50%);
			}

			[data-controls="prev"] {
				left: 1rem;
			}

			[data-controls="next"] {
				right: 1rem;
			}
		}

		&-nav {
			@apply absolute;
			@apply z-10;
			@apply flex;
			@apply justify-center;
			bottom: 1rem;
			transform: translateX(-50%);
			left: 50%;

			[aria-controls],
			[data-action] {
				width: .75rem;
				height: .75rem;
				opacity: .45;
				@apply block;
				@apply rounded-full;
				@apply bg-white;
				@apply mx-1;

				&:hover,
				&.tns-nav-active {
					opacity: 1;
				}
			}
		}
	}
}

.quotes-slider-wrapper {
	.tns {
		&-outer {
			[aria-controls],
			[data-action] {
				width: .75rem;
				height: .75rem;
				@apply block;
				@apply rounded-full;
				@apply bg-gray-900;
				@apply mx-1;

				&:hover,
				&.tns-nav-active {
					@apply bg-gray-700;
				}
			}
		}

		&-nav {
			@apply flex;
			@apply justify-center;
			@apply py-2;
		}
	}
}

#SearchDrawer.modal {
	@apply -translate-y-full;
	&.show {
		@apply translate-y-0;
	}
}
